.col{
    margin-top: 10px;
    h3{
        @include texto ($color: black, $size: 2rem);
    }    
    p{
        @include texto ($color: black, $size: 1.2rem);
    }
    iconify-icon{
        @include texto ($color: black, $size: 2rem);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    a{
        @include texto ($color: black, $size: 1.2rem);
    }
}

